<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-nsxt-index") %>>
                    <a href="/docs/providers/nsxt/index.html">NSX-T Provider</a>
                </li>

                <li<%= sidebar_current("docs-nsxt-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-datasource-edge-cluster") %>>
                            <a href="/docs/providers/nsxt/d/edge_cluster.html">nsxt_edge_cluster</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-logical-tier0-router") %>>
                            <a href="/docs/providers/nsxt/d/logical_tier0_router.html">nsxt_logical_tier0_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-ns-service") %>>
                            <a href="/docs/providers/nsxt/d/ns_service.html">nsxt_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-switching-profile") %>>
                            <a href="/docs/providers/nsxt/d/switching_profile.html">nsxt_switching_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-transport-zone") %>>
                            <a href="/docs/providers/nsxt/d/transport_zone.html">nsxt_transport_zone</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-certificate") %>>
                            <a href="/docs/providers/nsxt/d/certificate.html">nsxt_certificate</a>
                        </li>
                     </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-relay-profile") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_relay_profile.html">nsxt_dhcp_relay_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-relay-service") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_relay_service.html">nsxt_dhcp_relay_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-server-profile") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_server_profile.html">nsxt_dhcp_server_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-firewall-section") %>>
                            <a href="/docs/providers/nsxt/r/firewall_section.html">nsxt_firewall_section</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-block") %>>
                            <a href="/docs/providers/nsxt/r/ip_block.html">nsxt_ip_block</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-block-subnet") %>>
                            <a href="/docs/providers/nsxt/r/ip_block_subnet.html">nsxt_ip_block_subnet</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-pool") %>>
                            <a href="/docs/providers/nsxt/r/ip_pool.html">nsxt_ip_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-set") %>>
                            <a href="/docs/providers/nsxt/r/ip_set.html">nsxt_ip_set</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-pool") %>>
                            <a href="/docs/providers/nsxt/r/lb_pool.html">nsxt_lb_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-http-request-rewrite-rule") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_request_rewrite_rule.html">nsxt_lb_http_request_rewrite_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-dhcp-server") %>>
                            <a href="/docs/providers/nsxt/r/logical_dhcp_server.html">nsxt_logical_dhcp_server</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-dhcp-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_dhcp_port.html">nsxt_logical_dhcp_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_port.html">nsxt_logical_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-downlink-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_downlink_port.html">nsxt_logical_router_downlink_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-link-port-on-tier0") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_link_port_on_tier0.html">nsxt_logical_router_link_port_on_tier0</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-link-port-on-tier1") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_link_port_on_tier1.html">nsxt_logical_router_link_port_on_tier1</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-switch") %>>
                            <a href="/docs/providers/nsxt/r/logical_switch.html">nsxt_logical_switch</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-tier0-router") %>>
                            <a href="/docs/providers/nsxt/r/logical_tier0_router.html">nsxt_logical_tier0_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-tier1-router") %>>
                            <a href="/docs/providers/nsxt/r/logical_tier1_router.html">nsxt_logical_tier1_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-nat-rule") %>>
                            <a href="/docs/providers/nsxt/r/nat_rule.html">nsxt_nat_rule</a>
                        </li>
                         <li<%= sidebar_current("docs-nsxt-resource-ns-group") %>>
                            <a href="/docs/providers/nsxt/r/ns_group.html">nsxt_ns_group</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-static-route") %>>
                            <a href="/docs/providers/nsxt/r/static_route.html">nsxt_static_route</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-vm-tags") %>>
                            <a href="/docs/providers/nsxt/r/vm_tags.html">nsxt_vm_tags</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-ns-service-resource") %>>
                    <a href="#">NS Services Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-algorithm-type") %>>
                            <a href="/docs/providers/nsxt/r/algorithm_type_ns_service.html">nsxt_algorithm_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-ether-type") %>>
                            <a href="/docs/providers/nsxt/r/ether_type_ns_service.html">nsxt_ether_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-icmp-type") %>>
                            <a href="/docs/providers/nsxt/r/icmp_type_ns_service.html">nsxt_icmp_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-igmp-type") %>>
                            <a href="/docs/providers/nsxt/r/igmp_type_ns_service.html">nsxt_igmp_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-ip-protocol") %>>
                            <a href="/docs/providers/nsxt/r/ip_protocol_ns_service.html">nsxt_ip_protocol_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-l4-port-set") %>>
                            <a href="/docs/providers/nsxt/r/l4_port_set_ns_service.html">nsxt_l4_port_set_ns_service</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-lb-monitor-resource") %>>
                    <a href="#">Load Balancer Monitor Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-icmp") %>>
                            <a href="/docs/providers/nsxt/r/lb_icmp_monitor.html">nsxt_lb_icmp_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-tcp") %>>
                            <a href="/docs/providers/nsxt/r/lb_tcp_monitor.html">nsxt_lb_tcp_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-udp") %>>
                            <a href="/docs/providers/nsxt/r/lb_udp_monitor.html">nsxt_lb_udp_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-http") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_monitor.html">nsxt_lb_http_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-https") %>>
                            <a href="/docs/providers/nsxt/r/lb_https_monitor.html">nsxt_lb_https_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-passive") %>>
                            <a href="/docs/providers/nsxt/r/lb_passive_monitor.html">nsxt_lb_passive_monitor</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
