<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-nsxt-index") %>>
                    <a href="/docs/providers/nsxt/index.html">NSX-T Provider</a>
                </li>

                <li<%= sidebar_current("docs-nsxt-policy-datasource") %>>
                <a href="#">Policy Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-realization-info") %>>
                            <a href="/docs/providers/nsxt/d/policy_realization_info.html">nsxt_policy_realization_info</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-segment-realization") %>>
                            <a href="/docs/providers/nsxt/d/policy_segment_realization.html">nsxt_policy_segment_realization</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-edge-cluster") %>>
                            <a href="/docs/providers/nsxt/d/policy_edge_cluster.html">nsxt_policy_edge_cluster</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-edge-node") %>>
                            <a href="/docs/providers/nsxt/d/policy_edge_node.html">nsxt_policy_edge_node</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-tier0-gateway") %>>
                            <a href="/docs/providers/nsxt/d/policy_tier0_gateway.html">nsxt_policy_tier0_gateway</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-tier1-gateway") %>>
                            <a href="/docs/providers/nsxt/d/policy_tier1_gateway.html">nsxt_policy_tier1_gateway</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-service") %>>
                            <a href="/docs/providers/nsxt/d/policy_service.html">nsxt_policy_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-ip-discovery-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_ip_discovery_profile.html">nsxt_policy_ip_discovery_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-spoofguard-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_spoofguard_profile.html">nsxt_policy_spoofguard_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-qos-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_qos_profile.html">nsxt_policy_qos_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-ipv6-ndra-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_ipv6_ndra_profile.html">nsxt_policy_ipv6_ndra_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-ipv6-dad-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_ipv6_dad_profile.html">nsxt_policy_ipv6_dad_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-gateway-qos-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_gateway_qos_profile.html">nsxt_policy_gateway_qos_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-segment-security-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_segment_security_profile.html">nsxt_policy_segment_security_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-mac-discovery-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_mac_discovery_profile.html">nsxt_policy_mac_discovery_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-vm") %>>
                            <a href="/docs/providers/nsxt/d/policy_vm.html">nsxt_policy_vm</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-certificate") %>>
                            <a href="/docs/providers/nsxt/d/policy_certificate.html">nsxt_policy_certificate</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-vni-pool") %>>
                            <a href="/docs/providers/nsxt/d/policy_vni_pool.html">nsxt_policy_vni_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-transport-zone") %>>
                            <a href="/docs/providers/nsxt/d/policy_transport_zone.html">nsxt_policy_transport_zone</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-ip-block") %>>
                            <a href="/docs/providers/nsxt/d/policy_ip_block.html">nsxt_policy_ip_block</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-ip-pool") %>>
                            <a href="/docs/providers/nsxt/d/policy_ip_pool.html">nsxt_policy_ip_pool</a>
                        </li>
                     </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-policy-lb-datasource") %>>
                <a href="#">Policy Load Balancer Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-lb-app-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_lb_app_profile.html">nsxt_policy_lb_app_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-lb-client-ssl-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_lb_client_ssl_profile.html">nsxt_policy_lb_client_ssl_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-lb-server-ssl-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_lb_server_ssl_profile.html">nsxt_policy_lb_server_ssl_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-lb-monitor") %>>
                            <a href="/docs/providers/nsxt/d/policy_lb_monitor.html">nsxt_policy_lb_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-policy-lb-persistence-profile") %>>
                            <a href="/docs/providers/nsxt/d/policy_lb_persistence_profile.html">nsxt_policy_lb_persistence_profile</a>
                        </li>
                     </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-policy-resource") %>>
                    <a href="#">Policy Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-resource-policy-tier0-gateway") %>>
                            <a href="/docs/providers/nsxt/r/policy_tier0_gateway.html">nsxt_policy_tier0_gateway</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-tier0-gateway-interface") %>>
                            <a href="/docs/providers/nsxt/r/policy_tier0_gateway_interface.html">nsxt_policy_tier0_gateway_interface</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-tier1-gateway") %>>
                            <a href="/docs/providers/nsxt/r/policy_tier1_gateway.html">nsxt_policy_tier1_gateway</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-tier1-gateway-interface") %>>
                            <a href="/docs/providers/nsxt/r/policy_tier1_gateway_interface.html">nsxt_policy_tier1_gateway_interface</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-service") %>>
                            <a href="/docs/providers/nsxt/r/policy_service.html">nsxt_policy_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-group") %>>
                            <a href="/docs/providers/nsxt/r/policy_group.html">nsxt_policy_group</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-security-policy") %>>
                            <a href="/docs/providers/nsxt/r/policy_security_policy.html">nsxt_policy_security_policy</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-gateway-policy") %>>
                            <a href="/docs/providers/nsxt/r/policy_gateway_policy.html">nsxt_policy_gateway_policy</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-static-route") %>>
                            <a href="/docs/providers/nsxt/r/policy_static_route.html">nsxt_policy_static_route</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-nat-rule") %>>
                            <a href="/docs/providers/nsxt/r/policy_nat_rule.html">nsxt_policy_nat_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-ip-block") %>>
                            <a href="/docs/providers/nsxt/r/policy_ip_block.html">nsxt_policy_ip_block</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-ip-pool") %>>
                            <a href="/docs/providers/nsxt/r/policy_ip_pool.html">nsxt_policy_ip_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-ip-pool-block-subnet") %>>
                            <a href="/docs/providers/nsxt/r/policy_ip_pool_block_subnet.html">nsxt_policy_ip_pool_block_subnet</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-ip-pool-static-subnet") %>>
                            <a href="/docs/providers/nsxt/r/policy_ip_pool_static_subnet.html">nsxt_policy_ip_pool_static_subnet</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-ip-address-allocation") %>>
                            <a href="/docs/providers/nsxt/r/policy_ip_address_allocation.html">nsxt_policy_ip_address_allocation</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-bgp-neighbor") %>>
                            <a href="/docs/providers/nsxt/r/policy_bgp_neighbor.html">nsxt_policy_bgp_neighbor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-dhcp-relay") %>>
                            <a href="/docs/providers/nsxt/r/policy_dhcp_relay.html">nsxt_policy_dhcp_relay</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-segment") %>>
                            <a href="/docs/providers/nsxt/r/policy_segment.html">nsxt_policy_segment</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-vlan-segment") %>>
                            <a href="/docs/providers/nsxt/r/policy_vlan_segment.html">nsxt_policy_vlan_segment</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-vm-tags") %>>
                            <a href="/docs/providers/nsxt/r/policy_vm_tags.html">nsxt_policy_vm_tags</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-dhcp-server") %>>
                            <a href="/docs/providers/nsxt/r/policy_dhcp_server.html">nsxt_policy_dhcp_server</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-policy-load-balancing-resource") %>>
                    <a href="#">Policy Load Balancing Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-resource-policy-lb-pool") %>>
                            <a href="/docs/providers/nsxt/r/policy_lb_pool.html">nsxt_policy_lb_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-lb-service") %>>
                            <a href="/docs/providers/nsxt/r/policy_lb_service.html">nsxt_policy_lb_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-policy-lb-virtual-server") %>>
                            <a href="/docs/providers/nsxt/r/policy_lb_virtual_server.html">nsxt_policy_lb_virtual_server</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-datasource") %>>
                <a href="#">Manager Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-datasource-edge-cluster") %>>
                            <a href="/docs/providers/nsxt/d/edge_cluster.html">nsxt_edge_cluster</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-logical-tier0-router") %>>
                            <a href="/docs/providers/nsxt/d/logical_tier0_router.html">nsxt_logical_tier0_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-logical-tier1-router") %>>
                            <a href="/docs/providers/nsxt/d/logical_tier1_router.html">nsxt_logical_tier1_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-ns-group") %>>
                            <a href="/docs/providers/nsxt/d/ns_group.html">nsxt_ns_group</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-ns-service") %>>
                            <a href="/docs/providers/nsxt/d/ns_service.html">nsxt_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-mac-pool") %>>
                            <a href="/docs/providers/nsxt/d/mac_pool.html">nsxt_mac_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-switching-profile") %>>
                            <a href="/docs/providers/nsxt/d/switching_profile.html">nsxt_switching_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-transport-zone") %>>
                            <a href="/docs/providers/nsxt/d/transport_zone.html">nsxt_transport_zone</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-certificate") %>>
                            <a href="/docs/providers/nsxt/d/certificate.html">nsxt_certificate</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-ip-pool") %>>
                            <a href="/docs/providers/nsxt/d/ip_pool.html">nsxt_ip_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-datasource-firewall-section") %>>
                            <a href="/docs/providers/nsxt/d/firewall_section.html">nsxt_firewall_section</a>
                        </li>
                     </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-resource") %>>
                    <a href="#">Manager Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-relay-profile") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_relay_profile.html">nsxt_dhcp_relay_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-relay-service") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_relay_service.html">nsxt_dhcp_relay_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-server-profile") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_server_profile.html">nsxt_dhcp_server_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-firewall-section") %>>
                            <a href="/docs/providers/nsxt/r/firewall_section.html">nsxt_firewall_section</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-block") %>>
                            <a href="/docs/providers/nsxt/r/ip_block.html">nsxt_ip_block</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-block-subnet") %>>
                            <a href="/docs/providers/nsxt/r/ip_block_subnet.html">nsxt_ip_block_subnet</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-pool") %>>
                            <a href="/docs/providers/nsxt/r/ip_pool.html">nsxt_ip_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-pool-allocation-ip-address") %>>
                            <a href="/docs/providers/nsxt/r/ip_pool_allocation_ip_address.html">nsxt_ip_pool_allocation_ip_address</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-ip-set") %>>
                            <a href="/docs/providers/nsxt/r/ip_set.html">nsxt_ip_set</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-cookie-persistence-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_cookie_persistence_profile.html">nsxt_lb_cookie_persistence_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-source-ip-persistence-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_source_ip_persistence_profile.html">nsxt_lb_source__persistence_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-pool") %>>
                            <a href="/docs/providers/nsxt/r/lb_pool.html">nsxt_lb_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-http-virtual-server") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_virtual_server.html">nsxt_lb_http_virtual_server</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-tcp-virtual-server") %>>
                            <a href="/docs/providers/nsxt/r/lb_tcp_virtual_server.html">nsxt_lb_tcp_virtual_server</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-udp-virtual-server") %>>
                            <a href="/docs/providers/nsxt/r/lb_udp_virtual_server.html">nsxt_lb_udp_virtual_server</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-service") %>>
                            <a href="/docs/providers/nsxt/r/lb_service.html">nsxt_lb_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-http-forwarding-rule") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_forwarding_rule.html">nsxt_lb_http_forwarding_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-http-request-rewrite-rule") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_request_rewrite_rule.html">nsxt_lb_http_request_rewrite_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-http-response-rewrite-rule") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_response_rewrite_rule.html">nsxt_lb_http_response_rewrite_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-client-ssl-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_client_ssl_profile.html">nsxt_lb_client_ssl_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-server-ssl-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_server_ssl_profile.html">nsxt_lb_server_ssl_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-fast-tcp-application-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_fast_tcp_application_profile.html">nsxt_lb_fast_tcp_application_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-fast-udp-application-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_fast_udp_application_profile.html">nsxt_lb_fast_udp_application_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-lb-http-application-profile") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_application_profile.html">nsxt_lb_http_application_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-dhcp-server") %>>
                            <a href="/docs/providers/nsxt/r/logical_dhcp_server.html">nsxt_logical_dhcp_server</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-dhcp-server-ip-pool") %>>
                            <a href="/docs/providers/nsxt/r/dhcp_server_ip_pool.html">nsxt_dhcp_server_ip_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-dhcp-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_dhcp_port.html">nsxt_logical_dhcp_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_port.html">nsxt_logical_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-centralized-service-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_centralized_service_port.html">nsxt_logical_router_centralized_service_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-downlink-port") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_downlink_port.html">nsxt_logical_router_downlink_port</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-link-port-on-tier0") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_link_port_on_tier0.html">nsxt_logical_router_link_port_on_tier0</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-router-link-port-on-tier1") %>>
                            <a href="/docs/providers/nsxt/r/logical_router_link_port_on_tier1.html">nsxt_logical_router_link_port_on_tier1</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-switch") %>>
                            <a href="/docs/providers/nsxt/r/logical_switch.html">nsxt_logical_switch</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-vlan-logical-switch") %>>
                            <a href="/docs/providers/nsxt/r/vlan_logical_switch.html">nsxt_vlan_logical_switch</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-tier0-router") %>>
                            <a href="/docs/providers/nsxt/r/logical_tier0_router.html">nsxt_logical_tier0_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-logical-tier1-router") %>>
                            <a href="/docs/providers/nsxt/r/logical_tier1_router.html">nsxt_logical_tier1_router</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-nat-rule") %>>
                            <a href="/docs/providers/nsxt/r/nat_rule.html">nsxt_nat_rule</a>
                        </li>
                         <li<%= sidebar_current("docs-nsxt-resource-ns-group") %>>
                            <a href="/docs/providers/nsxt/r/ns_group.html">nsxt_ns_group</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-static-route") %>>
                            <a href="/docs/providers/nsxt/r/static_route.html">nsxt_static_route</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-resource-vm-tags") %>>
                            <a href="/docs/providers/nsxt/r/vm_tags.html">nsxt_vm_tags</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-ns-service-resource") %>>
                    <a href="#">Manager NS Services Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-algorithm-type") %>>
                            <a href="/docs/providers/nsxt/r/algorithm_type_ns_service.html">nsxt_algorithm_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-ether-type") %>>
                            <a href="/docs/providers/nsxt/r/ether_type_ns_service.html">nsxt_ether_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-icmp-type") %>>
                            <a href="/docs/providers/nsxt/r/icmp_type_ns_service.html">nsxt_icmp_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-igmp-type") %>>
                            <a href="/docs/providers/nsxt/r/igmp_type_ns_service.html">nsxt_igmp_type_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-ip-protocol") %>>
                            <a href="/docs/providers/nsxt/r/ip_protocol_ns_service.html">nsxt_ip_protocol_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-l4-port-set") %>>
                            <a href="/docs/providers/nsxt/r/l4_port_set_ns_service.html">nsxt_l4_port_set_ns_service</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-ns-service-resource-service_group") %>>
                            <a href="/docs/providers/nsxt/r/ns_service_group.html">nsxt_ns_service_group</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-lb-monitor-resource") %>>
                    <a href="#">Manager Load Balancer Monitor Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-icmp") %>>
                            <a href="/docs/providers/nsxt/r/lb_icmp_monitor.html">nsxt_lb_icmp_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-tcp") %>>
                            <a href="/docs/providers/nsxt/r/lb_tcp_monitor.html">nsxt_lb_tcp_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-udp") %>>
                            <a href="/docs/providers/nsxt/r/lb_udp_monitor.html">nsxt_lb_udp_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-http") %>>
                            <a href="/docs/providers/nsxt/r/lb_http_monitor.html">nsxt_lb_http_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-https") %>>
                            <a href="/docs/providers/nsxt/r/lb_https_monitor.html">nsxt_lb_https_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-lb-monitor-resource-passive") %>>
                            <a href="/docs/providers/nsxt/r/lb_passive_monitor.html">nsxt_lb_passive_monitor</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-nsxt-switching-profile-resource") %>>
                    <a href="#">Manager Switching Profiles Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-nsxt-ip-discovery-switching-profile") %>>
                            <a href="/docs/providers/nsxt/r/ip_discovery_switching_profile.html">nsxt_ip_discovery_switching_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-mac-management-switching-profile") %>>
                            <a href="/docs/providers/nsxt/r/mac_management_switching_profile.html">nsxt_mac_management_switching_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-spoofguard-switching-profile") %>>
                            <a href="/docs/providers/nsxt/r/spoofguard_switching_profile.html">nsxt_spoofguard_switching_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-qos-switching-profile") %>>
                            <a href="/docs/providers/nsxt/r/qos_switching_profile.html">nsxt_qos_switching_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-nsxt-switch-security-switching-profile") %>>
                            <a href="/docs/providers/nsxt/r/switch_security_switching_profile.html">nsxt_switch_security_switching_profile</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
